*{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    border-bottom: solid;
    border-bottom-width: 0.1em;
    border-bottom-style:ridge;
    margin:10px;
    padding-top: 10px;
    /*border-bottom-left-radius: */
}
#Encabezado{
    margin: auto;
    background-color: steelblue;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
    color:white;

}
#container1{
    float:left;
    width: 750px;
    height: 300px;
    /*border-style: solid;*/
}
#container2{
    background-color:lightgoldenrodyellow;
    float: left;
    width: 300px;
    height: 300px;
}
#container2 p {
    padding-bottom:40px;
}

p{
    font-size: 16px;
    margin:0px;
    margin-left: 20px;
    margin-right: 20px;
    padding:0px;
}

#Contenido{
    position: absolute;
    padding-left:150px;
    width: 1050px;
    height: 500px;

}

#pie{
    margin: auto;
    clear: both;
    background-color: steelblue;
    text-align:center;
    padding-top: 1px;
    padding-bottom: 1px;
    color:white;
}
