* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}
.contenedor{
    background-color: #aaa;
    width: 80%;
    margin: 0 auto;
}
main{
    background-color: pink;
    width: 60%;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}
aside{
    background-color: yellow;
    width:40%;
    display: inline-block;
    margin-right: -4px;
    padding-left: 3%;
}

@media screen and (min-width: 400px){
    .contenedor{
        background-color: #aaa;
        display: inline-block;
    }
}