/*Selector universal*/
* {
    font-family: Arial;
}

.subtitulo{
    color:cyan;
    background-color: black;
}

#contenedor {
    background-color: gray;
}

#mensaje {
    font-family:initial;
}
div p{
    color:blue;
}
body > p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

article {
    border: 1px solid green;
    margin: 30px 20px 10px 5px;
    padding: 50px;
}