* {
    margin: 0;
    padding: 0;
}

.contenedor {
    width:100%;
    background-color:cornflowerblue;
}

@media print {

    .contenedor{
       width: 75%;
        color: blue;
        font-size: 20px;
    }
}

@media screen and (min-width: 600px){
    .contenedor{
        background-color: #aaa;
    }
}

@media screen and (max-width: 600px){

    .contenedor{
        background-color: yellow;
    }

}
@media screen and (max-width: 400){
    .contenedor{
        background-color: yellow;
    }

    main{
        width: 100%;
    }
}
